body {
	/*text-align: left;
	background-color: red;
	transition: background-color 3s;*/
	background-image: linear-gradient(to right, white, #E6E6E6);
	width: auto;
	height: 10%;
	padding: 10px;
	margin: auto;
	
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

.header {
	margin: auto;
	width: 50%;
	height: 10%;
	background-color: gray;
	text-align: center;
}

.list {
	text-align: left;
	font-family: Consolas, serif;
	margin-left: 20px;
	width: 25%;
	border: 1px solid black;
	padding: 20px;
	margin: 80px 20px 0px 90px;
	background-color: white;
	list-style-type: none;
}

.lesson {
	font-size: 110%;
	margin-left: 20px;
	width: auto;
	/*border: 1px solid black;*/
	/*background-image: linear-gradient(to left, #D9D9D9, white, white);*/
	padding: 20px;
	margin: 40px;
	/*background-color: white;*/
	transition: width 10s;
	border-radius: 15px;
}

.furigana {
	font-size: 60%;
	text-align: center;
}

.word-list, .sample-sentences {
	margin-left: 20px;
	width: 95%;
	/*border: 1px dotted black;*/
	padding: 20px;
	margin: 10px;
	background-color: transparent;
	/*background-image: linear-gradient(to right, green, blue);*/
}

.word{
	font-size: 140%;
	margin: 5px;
	font-style: bold;
}

.definition, .definition-notes {
	margin-left: 25px;
}

.definition-notes, .translation-notes, .misc  {
	font-size: 85%;
	font-family: Consolas, serif;
}

.box1 {
	/*border: 1px solid black;*/
	width: 80%;
	height: 30%;
	padding: 10px;
	margin: 10px;
	/*background-color: grey;*/
	background-image: linear-gradient(to right, #D9D9D9, white);
	border-radius: 15px;
}

.box2 {
	width: 80%;
	height: 40%;
	padding: 30px;
	margin: 10px;
	background-image: linear-gradient(to right, #D9D9D9, white);
	border-radius: 15px;
	
}

