# misc shit not really fit for upload
勉強材料/*
ツール/*

# python/nycthemeron.py
python/*.txt
python/temp
unsorted/temp
unsorted/for anki.html
unsorted/Selected Notes.txt
unsorted/retard sandwich.txt
unsorted/kanjidic2.md
unsorted/js anki sandbox.html
unsorted/tool (old 1).html
unsorted/tool (old 2).html
unsorted/regex test.html
vocabulary/原神.md