# misc shit not really fit for upload
勉強材料/*
ツール/*

python/*.txt
python/kanji tools/congee.txt
python/kanji tools/fuck.txt
python/kanji tools/kanji (2023_01_22).txt
python/kanji tools/kanji_mgmt.py
python/kanji tools/mese.txt
python/temp
unsorted/anki testing.html
unsorted/furigana.js
unsorted/js anki sandbox.html
unsorted/kanjidic2.md
unsorted/for anki.html
unsorted/regex test.html
unsorted/retard sandwich.txt
unsorted/Selected Notes.txt
unsorted/seminal vesicle.txt
unsorted/temp
unsorted/tool (old 1).html
unsorted/tool (old 2).html
vocabulary/原神.md
web scraper/test_website.html
unsorted/ignore/