/* affects all elements. front, back, whatever.*/
.card {
	/* font-family: _NotoSerifJP-Regular, arial; */
	/* font-family: Meiryo; remove this if it fucks up the look on mobile */
	font-size: 120%;
	color: black;
	/*background-color: white;*/
	margin: 20px;
	/*text-align: justify;*/
	hyphens: auto;
}

.win .card {
	font-family: "Noto Serif JP", Meiryo, Arial, sans-serif;
	font-size: 155%;
}

.win .front {
	font-family: "Noto Serif JP", Meiryo, sans-serif;
}

.win .six-or-more {
	font-size: 100%;
	margin: 10px 0px 10px 0px;
}

.win .alt-forms {
	font-family: "Noto Serif JP", "Noto Emoji", Meiryo, sans-serif;
}

.win .readings {
	font-family: "Noto Serif JP", Meiryo, sans-serif;
}

.win .examples {
	font-family: "Noto Serif JP", Meiryo, sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.win .back {
		font-family: "Wingdings";
}

b {
	color: red;
}

/* the part that is first shown when you open the card */
.front {
	font-family: arial;
	font-size: 300%;
	text-align: center;
	writing-mode: vertical-rl;
	margin: 0 auto;
	display: block;
	overflow: auto;
}

/* For Japanese entries */
/* alternative forms of a word. may be in kanji, hiragana, katakana, or mixed (hiragana, katakana and kanji). */
.alt-forms {
	font-size: 30px;
	font-family: _yumin, _HanaMinB, Arial, sans-serif;
}

/* examples using the word */
.examples {
	font-family: _yumin;
	writing-mode: vertical-rl;
	text-align: left;
	margin: 0px; 
	padding: 0px;
	height: 75%;
	width: 100%;
	font-size: 23px;
	overflow-x: auto;
}

ruby {
		ruby-position: over;
}

rt {
	font-size: 60%;
	display: ruby-text; /* This being "display: block;" caused the whole fuck-up you waited so long to fix. */
	user-select: none;
}

/* kana on the individual kana deck. do not remove, even that you don't use that deck anymore. */
.kana {
	font-size: 200%;
}

/* For 8 or more ruby characters */
.longruby {
	font-size: 35%;
	text-align: center;
	color: black;
	vertical-align: sup;
}

/* images used on cards (only on back side) */
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	text-align: center;
}

/* used whenever a word on the front side does not fit perfectly on the screen (it breaks and goes over to the next line). does not necessarily have to be 6, it's just that your current phone can only fit a max of 6 characters on the screen*/
.six-or-more {
	font-size: 55%;
	margin: 10px 0px 10px 0px;
}

/* For English entries */
/* word on front side */
.english-word {
	font-size: 30px;
	margin: 20px;
	text-align: center;
}

/* entries on the back side */
.english-back {
	font-size: 14px;
	margin: 20px;
	text-align: justify;
	hyphens: auto;
}

/* source of where the sentence quoted is from */
.source {
	font-size: 10px;
}

.ex-btns {
	margin: 5px;
	padding: 8px 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	background: #f9f9f9;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
}

.hide-furigana rt {
	display: none;
}

/* for font randomization */
@font-face { font-family: _HanaMinA; src: url('_HanaMinA.ttf'); }
@font-face { font-family: _meiryo; src: url('_meiryo.ttc');}
@font-face { font-family: _ipaexg; src: url('_ipaexg.ttf'); }
@font-face { font-family: _ipaexm; src: url('_ipaexm.ttf'); }
@font-face { font-family: _TakaoPMincho; src: url('_TakaoPMincho.ttf'); }
@font-face { font-family: _TakaoExMincho; src: url('_TakaoExMincho.ttf'); }
@font-face { font-family: _BIZ-UDGothicR; src: url('_BIZ-UDGothicR.ttc'); }
@font-face { font-family: _BIZ-UDMinchoM; src: url('_BIZ-UDMinchoM.ttc'); }
@font-face { font-family: _UDDigiKyokashoN-R; src: url('_UDDigiKyokashoN-R.ttc'); }
@font-face { font-family: _YOzK; src: url('_YOzK.TTC'); }
@font-face { font-family: _YuGothR; src: url('_YuGothR.ttc'); }
@font-face { font-family: _851MkPOP_100; src: url('_851MkPOP_100.ttf'); }
@font-face { font-family: _AP; src: url('_AP.ttf'); }
@font-face { font-family: _APT; src: url('_APT.ttf'); }
@font-face { font-family: _dartsfont; src: url('_dartsfont.ttf'); }
@font-face { font-family: _DotGothic16-Regular; src: url('_DotGothic16-Regular.ttf'); }
@font-face { font-family: _FUTENE; src: url('_FUTENE.ttf'); }
@font-face { font-family: _irohamaru-mikami-Regular; src: url('_irohamaru-mikami-Regular.ttf'); }
@font-face { font-family: _KanjiStrokeOrders_v4004; src: url('_KanjiStrokeOrders_v4004.ttf'); }
@font-face { font-family: _KiwiMaru-Regular; src: url('_KiwiMaru-Regular.ttf'); }
@font-face { font-family: _KosugiMaru-Regular; src: url('_KosugiMaru-Regular.ttf'); }
@font-face { font-family: _moonp; src: url('_moonp.ttf'); }
@font-face { font-family: _Mplus1-Regular; src: url('_Mplus1-Regular.ttf'); }
@font-face { font-family: _mplus-2p-regular; src: url('_mplus-2p-regular.ttf'); }
@font-face { font-family: _Mplus2-Regular; src: url('_Mplus2-Regular.ttf'); }
@font-face { font-family: _seap; src: url('_seap.ttf'); }
@font-face { font-family: _SoukouMincho; src: url('_SoukouMincho.ttf'); }
@font-face { font-family: _umeboshi_; src: url('_umeboshi_.ttf'); }
@font-face { font-family: _unifont_jp-14001; src: url('_unifont_jp-14001.ttf'); }
@font-face { font-family: _ZenAntique-Regular; src: url('_ZenAntique-Regular.ttf'); }
@font-face { font-family: _ZenAntiqueSoft-Regular; src: url('_ZenAntiqueSoft-Regular.ttf'); }
@font-face { font-family: _ZenKakuGothicAntique-Regular; src: url('_ZenKakuGothicAntique-Regular.ttf'); }